.controls {
  padding: 80px 15px;
  display: grid;
  gap: 40px;
  place-items: center;
  position: relative;
}
.controls audio {
  background-color: royalblue;
  border-radius: 0;
}

.controls__play {
  display: flex;
  gap: 15px;
}
.controls__header {
  display: grid;
  text-align: center;
}
.constrols__title {
  font-size: 2.5rem;
  color: var(--softViolet);
}
.controls__duration,
.controls__current-time {
  position: absolute;
  top: -30px;
}
.controls__current-time {
  left: 10px;
}
.controls__duration {
  right: 10px;
}
