.controls {
  padding: 80px 15px;
  display: grid;
  gap: 40px;
  place-items: center;
  position: relative;
}
.controls__controls {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}
.controls__controls:hover {
  transform: scale(1.1);
}
.controls__controls:active {
  position: relative;
  top: 2px;
  left: 2px;
}

.controls__play {
  display: flex;
  gap: 15px;
}
.controls__header {
  display: grid;
  text-align: center;
}
.constrols__title {
  font-size: 2.5rem;
  color: var(--softViolet);
}
.controls__duration,
.controls__current-time {
  position: absolute;
  top: -30px;
}
.controls__current-time {
  left: 10px;
}
.controls__duration {
  right: 10px;
}
.controls__video-bar {
  opacity: 0;
  z-index: 10;
}
.controls__video-bar,
.controls__video-bar-fake {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: var(--softViolet);
}
.controls__gif {
  position: absolute;
  top: -350px;
  width: 100%;
  height: 350px;
  object-fit: cover;
  opacity: 0;
}
