.player {
  width: 320px;
  background-color: var(--darkViolet);
  position: relative;
}
.player__picture {
  caret-color: transparent;
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.player__menu {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 45px;
  filter: invert(0.95);
  transition: transform 0.1s ease;
}

.player__menu:active {
  transform: scale(0.6);
}

@media screen and (min-width: 1280px) {
  .player {
    width: 350px;
  }
}
